/* Bebas Neue Rounded Font - For Headings */
@font-face {
    font-family: 'Bebas Neue Rounded';
    src: url('../fonts/BebasNeueRounded-Regular.eot');
    src: local('Bebas Neue Rounded Regular'), local('BebasNeueRounded-Regular'),
        url('../fonts/BebasNeueRounded-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/BebasNeueRounded-Regular.woff2') format('woff2'),
        url('../fonts/BebasNeueRounded-Regular.woff') format('woff'),
        url('../fonts/BebasNeueRounded-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

/* Montserrat Font - Similar to Proxima Nova */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');

/* Font Variables */
:root {
  --font-primary: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  --font-secondary: 'Georgia', serif;
  --font-heading: 'Bebas Neue Rounded', 'Montserrat', sans-serif;
}

/* Base Font Settings */
body {
  font-family: var(--font-primary);
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}