/**
 * Minimal WordPress-style CSS - Replaced 51,000+ line file with essentials only
 * This file contains only the styles actually used in the library project
 */

/* Tippy.js Tooltip Styles - Used for interactive tooltips */
.tippy-iOS {
    cursor: pointer !important;
}

.tippy-notransition {
    transition: none !important;
}

.tippy-popper {
    -webkit-perspective: 700px;
    perspective: 700px;
    z-index: 9999;
    outline: 0;
    transition-timing-function: cubic-bezier(.165, .84, .44, 1);
    pointer-events: none;
    line-height: 1.4;
    max-width: calc(100% - 10px);
}

.tippy-tooltip {
    position: relative;
    color: #fff;
    border-radius: 4px;
    font-size: 14px;
    padding: .3rem .6rem;
    max-width: 350px;
    text-align: center;
    will-change: transform;
    background-color: #333;
}

.tippy-backdrop {
    position: absolute;
    background-color: #333;
    border-radius: 50%;
    width: calc(110% + 2rem);
    left: 50%;
    top: 50%;
    z-index: -1;
    transition: all cubic-bezier(.46, .1, .52, .98);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.tippy-arrow {
    position: absolute;
    border-color: transparent;
    border-style: solid;
}

/* Basic utility classes */
.has-text-align-center {
    text-align: center;
}

.has-text-align-left {
    text-align: left;
}

.has-text-align-right {
    text-align: right;
}

/* Screen reader text */
.screen-reader-text {
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    word-wrap: normal !important;
}

/* Basic responsive image support */
.wp-block-image img {
    height: auto;
    max-width: 100%;
    vertical-align: bottom;
}

/* If you need any additional styles from wordpress-main.css, add them below */
